html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background: linear-gradient(to bottom, rgb(247, 27, 27), rgb(14, 94, 14));
    /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
}